.restaurant__text{
    margin-bottom: 30px;
    text-indent: 20px;
}

@media screen and (min-width: 0) {
    .restaurant__text{
        width: 95%;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 446px) {
    .restaurant__text{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .restaurant__text{
        width: 85%;
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 992px) {
    .restaurant__text{
        font-size: 2rem;
    }
}