<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pede - PIZZA</title>
        <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../assets/reset.css">
        <link rel="stylesheet" href="../assets/navbar.css">
        <link rel="stylesheet" href="./admin.css">
    </head>
    <body>
        <nav class="navbar">
            <a href="../index.html" class="logo"><img src="../assets/pizza.png" alt="Pizza logo"></a>
            <a href="./home.html">Home</a>
            <a href="../news/news.html">News</a>
            <a href="../info/info.html">About us</a>
            <a href="../account/account.html">Account</a>  
        </nav>
        
        <a href="./update/update.html" class="addPizza">
            <img src="../assets/add.png" alt="">
        </a>
        <header>
            <h1>Manage Pizzas</h1>
        </header>
        <main>
            <ul id="pizzaList"></ul>
        </main>

        <footer>
            <ul class="footerLinks">
                <li>
                    <p>Service</p>
                </li>
                <li>
                    <p>Support</p>
                </li>
                <li>
                    <p>Company</p>
                </li>
                <li>
                    <p>Legal</p>
                </li>
                <li>
                    <p>Join Us</p>
                </li>
            </ul>
            <ul>
                <li>
                    <img src="../assets/instagram.png" alt="">
                </li>
                <li>
                    <img src="../assets/facebook.png" alt="">
                </li>
                <li>
                    <img src="../assets/twitter.png" alt="">
                </li>
                <li>
                    <img src="../assets/whatsapp.png" alt="">
                </li>
                <li>
                    <img src="../assets/linkedin.png" alt="">
                </li>
            </ul>
            <p>&copy; Pede Pizza Inc</p>
        </footer>

        <script type="module" src="./admin.js"></script>
    </body>
</html>