.news__text{
    margin: 0px 10px;
    text-indent: 20px;
}

@media screen and (min-width: 0) {
    .news__text{
        font-size: var(--fs-smartphone-principal);
        width: 95%;
    }
}

@media screen and (min-width: 768px) {
    .news__text{
        font-size: var(--fs-tablet-principal);
        width: 85%;
    }
}

@media screen and (min-width: 992px) {
    .news__text{
        font-size: var(--fs-desktop-principal);
    }
}