<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pede - PIZZA</title>
        <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../assets/reset.css">
        <link rel="stylesheet" href="../assets/base.css" />
        <link rel="stylesheet" href="./info.css">
    </head>
    <body>
        <header>
            <nav class="navbar header__navbar">
                <a href="../index.html" class="logo"><img src="../assets/pizza.png" alt="Pizza logo"></a>
                <a href="../home/home.html">Home</a>
                <a href="../news/news.html">News</a>
                <a href="../info/info.html">About us</a>
                <a href="../account/account.html">Account</a>  
            </nav>
            <h1 class="header__title">Sobre</h1>
        </header>

        <main>
            <img class="fachada" src="../assets/pizzaria.jpg" alt="fachada da pizzaria">
            <p class="informacoes">
                Pizza(também grafada piza em Portugal) é uma preparação culinária que consiste em um disco de massa fermentada de farinha de trigo, coberto com molho de tomate e os ingredientes variados que normalmente incluem algum tipo de queijo, carnes preparadas ou defumadas e ervas, normalmente orégano ou manjericão, tudo assado em forno.
            </p>
            <video controls class="video">
                <source src="../assets/pizzaria.mp4" type="">
            </video>
            <table class="horarios">
                <thead>
                    <tr>
                        <th>Dia</th>
                        <th>Abertura</th>
                        <th>Fechamento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Segunda</td>
                        <td>19:00</td>
                        <td>23:00</td>
                    </tr>
                    <tr>
                        <td>Terça</td>
                        <td>18:00</td>
                        <td>23:00</td>
                    </tr>
                    <tr>
                        <td>Quarta</td>
                        <td>18:00</td>
                        <td>23:00</td>
                    </tr>
                    <tr>
                        <td>Quinta</td>
                        <td>18:00</td>
                        <td>23:00</td>
                    </tr>
                    <tr>
                        <td>Sexta</td>
                        <td>17:00</td>
                        <td>24:00</td>
                    </tr>
                    <tr>
                        <td>Sábado</td>
                        <td>17:00</td>
                        <td>24:00</td>
                    </tr>
                    <tr>
                        <td>Domingo</td>
                        <td>17:00</td>
                        <td>22:00</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="musica">
                <p class="musica__texto">Music Tarantella</p>
                <audio class="musica__audio" src="../assets/pizza.mp3" controls></audio>
            </div>

        </main>

        <footer>
            <div class="footer__links">
                <a href="../index.html">Service</a>
                <a href="../index.html">Support</a>
                <a href="../index.html">Company</a>
                <a href="../index.html">Legal</a>
                <a href="../index.html">Join Us</a>
            </div>

            <div class="footer__social">
                <img src="../assets/instagram.png" alt="Icone instagram">
                <img src="../assets/facebook.png" alt="Icone facebook">
                <img src="../assets/twitter.png" alt="Icone twitter">
                <img src="../assets/whatsapp.png" alt="Icone whatsapp">
                <img src="../assets/linkedin.png" alt="Icone linkedin">
            </div>

            <div class="footer__logo">
                <img src="../assets/logo.png" alt="Logo Pizza">
            </div>
        </footer>
    </body>
</html>