.info__name{
  margin-left: 24px;
  color: #0B4654;
  font-family: Athiti;
  font-size: 35.479px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (max-width: 448px) {
  .info__name{
    margin-left: 5px;
  }
}
