.info__brand{
  margin-top: 25px;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 78px;
}

@media screen and (max-width: 448px) {
  .info__brand{
    justify-content: center;
    margin-bottom: 48px;
  }
}
