.navbar{
    align-items: center;
    background: var(--vermelho);
    display: flex;
    justify-content: space-around;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .navbar{
        align-items: center;
        flex-direction: column;
    }
}