.navbar__link{
    color: var(--fc-default);
    cursor: pointer;
    text-decoration: none;
}

.navbar__link:hover{
    color: var(--fc-default-dark);
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .navbar__link{
        margin-top: 20px;
    }

    .navbar__link--logo{
        display: none;
    }

    .navbar__link--cart{
        height: 48px;
        width: 48px;
    }
}

@media screen and (min-width: 0) {
    .navbar__link{
        font-size: var(--fs-smartphone-principal);
    }
}

@media screen and (min-width: 768px) {
    .navbar__link{
        font-size: var(--fs-tablet-principal);
    }
}

@media screen and (min-width: 992px) {
    .navbar__link{
        font-size: var(--fs-desktop-principal);
    }
}