html,body{
    height: 100%;
    background-image: linear-gradient(45deg,red,green);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    width: 100%;
    max-width: 400px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Login Header */

.login__header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__title{
    color: #000;
    font-weight: bold;
    font-size: 3rem;
    margin: 20px 0px;
}

.login__img{
    margin-bottom: 10px;
}

/* Login Main */

.login__main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nameInput,#emailInput,#pwdInput{
    border: none;
    border-bottom: 1px solid #000;
    width: 80%;
    font-size: 2rem;
    margin: 10px 0px;
    outline: none;
}

.nameInput{
    display: none;
}

.createForm{
    display: block;
}

/* Login Footer */

.login__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#submitBTN{
    background-image: linear-gradient(to right,red,green);
    color: #FFF;
    border: none;
    margin: 30px 0px;
    font-weight: bold;
    font-size: 1.5rem;
    width: 50%;
    padding: 20px 0px;
    cursor: pointer;
    transition: 400ms;
}

#submitBTN:hover{
    background-image: linear-gradient(to right,green,red);
    width: 70%;
    font-size: 2rem;
}