main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main p{
    font-size: 2rem;
    text-indent: 20px;
    width: 50%;
    text-align: center;
}

main img{
    width: 100vw;
    max-width: 900px;
    cursor: pointer;
}

main p, main img{
    margin-bottom: 60px;
}

marquee a{
    font-size: 2rem;
    font-weight: bold;
    color: var(--vermelho);
} 

@media (max-width: 900px){
    main p{
        width: 100%;
    }
}