.record__main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 0px) {
  .record__main{
    padding-top: 7.5px;
  }
}

@media screen and (min-width: 768px) {
  .record__main{
    padding: 0px 0px 0px 15px;
  }
}