.record{
  display: flex;
}

@media screen and (min-width: 0px) {
  .record{
    flex-direction: column;
    padding: 12px 12px 12px 12px;
  }
}

@media screen and (min-width: 768px) {
  .record{
    flex-direction: row;
    padding: 12px;
  }
}