.content{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    width: auto;
    height: auto;
    background: rgb(214, 71, 68);
    border-radius: 4.5px;
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 30px;
}

.item img{
    width: 190px;
    height: 260px;
    margin: 20px 20px;
    border-radius: 0px;
}

.item p{
    width: 190px;
    height: 15%;
    margin: 0px 20px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.item hr{
    margin-bottom: 0;
    position: relative;
    border-color: black;
    size: 10px;
}

.itemFooter{
    margin: 0px;
    width: 100%;
    background: rgb(194, 0, 0);
    height: 10%;
    border-bottom-left-radius: 4.5px;
    border-bottom-right-radius: 4.5px;
}

.itemFooter p{
    font-size: 2em;
    font-weight: bolder;
    margin: auto auto;
}

.item:hover img{
    width: 230px;
    height: 300px;
    transition: 0.3s;
}

.item:hover p{
    width: 230px;
    text-align: center;
}

.item:hover{
    background-color: rgb(230, 38, 38);
    text-align: center;
}