<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pede - PIZZA</title>
        <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../assets/reset.css">
        <link rel="stylesheet" href="../assets/base.css" />
        <link rel="stylesheet" href="./home.css">
    </head>
    <body>
        <header>
            <nav class="navbar header__navbar">
                <a href="../index.html" class="logo"><img src="../assets/pizza.png" alt="Pizza logo"></a>
                <a href="./home.html">Home</a>
                <a href="../news/news.html">News</a>
                <a href="../info/info.html">About us</a>
                <a href="../account/account.html">Account</a>  
            </nav>
            <h1 class="header__title">Pizzas</h1>
        </header>

        <main>
            <section class="content" id="content"></section>
        </main>

        <footer>
            <div class="footer__links">
                <a href="../index.html">Service</a>
                <a href="../index.html">Support</a>
                <a href="../index.html">Company</a>
                <a href="../index.html">Legal</a>
                <a href="../index.html">Join Us</a>
            </div>

            <div class="footer__social">
                <img src="../assets/instagram.png" alt="Icone instagram">
                <img src="../assets/facebook.png" alt="Icone facebook">
                <img src="../assets/twitter.png" alt="Icone twitter">
                <img src="../assets/whatsapp.png" alt="Icone whatsapp">
                <img src="../assets/linkedin.png" alt="Icone linkedin">
            </div>

            <div class="footer__logo">
                <img src="../assets/logo.png" alt="Logo Pizza">
            </div>
        </footer>
        
        <script type="module" src="./home.js"></script>
    </body>
</html>