.form__input{
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    text-indent: 10px;
}

@media screen and (min-width: 0) {
    .form__input{
        margin: 20px 0px;
        font-size: 1.25rem;
        width: 95%;
    }
}

@media screen and (min-width: 560px) {
    .form__input{
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .form__input{
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 992px) {
    .form__input{
        font-size: 2rem;
        margin: 30px 0px;
    }
}