.user{
    background: rgb(255, 255, 255);
    margin: 0px auto;
    width: 100%;
    max-width: 800px;
    margin-bottom: 260px;
    display: flex;
    flex-direction: column;
}

.user__header{
    min-height: 76px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user__img{
    margin-left: 15px;
    width: 64px;
    height: 64px;
    cursor: pointer;
    border-radius: 64px;
}

.user__name{
    color: black;
    font-size: 3rem;
    font-weight: bold;
    margin-left: 30px;
}

.user__config{
    cursor: pointer;
}

hr{
    margin: 0 0;
}

.user__main{
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.user__email,.user__id,.user__order{
    font-size: 2rem;
    font-weight: bold;
    margin: 5px 0px;
    word-break: break-all;
}

#userEmail,#userID{
    font-weight: 400;
}

/* User Footer */

.user__footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
}

.user__logout, .user__delete{
    height: 64px;
    width: 200px;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bold;
}

.user__logout{
    background-color: #00F;
}

.user__logout:hover{
    background-color: rgb(0, 0, 146);
}

.user__delete{
    background-color: #F00;
}

.user__delete:hover{
    background-color: rgb(146, 0, 0);
}

@media (max-width: 800px) {
    .user__name{
        font-size: 2rem;
    }

    .user__logout, .user__delete{
        margin: 10px 0px;
    }
}