.options__hyperlink{
    font-style: normal;
    text-decoration: none;
    color: #3b4349;
    cursor: pointer;
}

.options__hyperlink--delete{
    color: var(--color-theme);
}

@media screen and (min-width: 0) {
    .options__hyperlink{
        font-size: var(--fs-smartphone-secondary);
    }
}

@media screen and (min-width: 768px) {
    .options__hyperlink{
        font-size: var(--fs-tablet-secondary);
    }
}

@media screen and (min-width: 992px) {
    .options__hyperlink{
        font-size: var(--fs-desktop-secondary);
    }
}