body{
    background: rgb(221, 196, 196);
}

header h1{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: 60px 0px;
}

.userInfo{
    background: rgb(255, 255, 255);
    margin: 0px auto;
    width: 50%;
    margin-bottom: 10.17%;
    display: flex;
    flex-direction: column;
}

.userHead{
    height: 76px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userImg{
    height: 100%;
    margin-left: 10px;
    cursor: pointer;
}

.userName{
    color: black;
    font-size: 3em;
    font-weight: bold;
    margin-left: 30px;
}

hr{
    margin: 0 0;
}

.userBody{
    margin-top: 20px;
    text-align: center;
}

.userEmail_txt, .userID_txt{
    font-size: 2em;
    font-weight: bold;
}

.userEmail, .userID{
    font-size: 2em;
    margin-bottom: 20px;
}

.userFooter{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.userFooter input{
    border: none;
    text-align: center;
    margin: 0px 20px;
}

#logoutBTN{
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    background: orange;
    color: white;
}

#logoutBTN:hover{
    width: 150px;
    height: 60px;
    transition: 0.4s;
}

#deleteBTN{
    width: 200px;
    height: 40px;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    background: red;
    color: white;
}

#deleteBTN:hover{
    width: 250px;
    height: 60px;
    transition: 0.4s;
}

#resetPswdBTN{
    width: 240px;
    height: 40px;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    background: blue;
    color: white;
}

#resetPswdBTN:hover{
    width: 290px;
    height: 60px;
    transition: 0.4s;
}

.adminSection{
    margin: 0;
    height: 46px;
    text-decoration: none;
    font-size: 2em;
    color: black;
    font-weight: bold;
    text-align: center;
    display: none;
}

@media (max-width: 800px) {
    .userInfo{
        width: 100%;
    }
}