.description{
    margin-top: 45px;
    text-indent: 20px;
}

@media screen and (min-width: 0) {
    .description{
        font-size: var(--fs-smartphone-principal);
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .description{
        font-size: var(--fs-tablet-principal);
        width: 90%;
    }
}

@media screen and (min-width: 992px) {
    .description{
        font-size: var(--fs-desktop-principal);
        width: 75%;
    }
}