<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pede - PIZZA</title>
        <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/css/base.css">
        <link rel="stylesheet" href="assets/css/account.css">
    </head>
    <body>
        <header>
            <nav class="navbar header__navbar">
                <a href="index.html" class="logo"><img src="assets/img/pizza.png" alt="Pizza logo"></a>
                <a href="index.html">Home</a>
                <a href="news.html">News</a>
                <a href="info.html">About us</a>
                <a href="account.html">Account</a>  
            </nav>
            <h1 class="header__title">Conta</h1>
        </header>

        <main>
            <section class="user">
                <div class="user__header">
                    <img class="user__img" id="userImg" src="assets/img/user.png" alt="user Image" >
                    <p class="user__name" id="userName">Name</p>
                </div>

                <hr>

                <div class="user__main">
                    <p class="user__email">Email: <span id="userEmail">email@email.com</span></p>
                    <br>
                    <p class="user__id">UserID: <span id="userID">xxxxxxxxxxxxxxxxxx</span></p>
                </div>

                <hr>

                <div class="user__footer">
                    <input type="button" id="loginBTN" class="loginBTN" value="Login">
                    <input type="button" id="logoutBTN" value="Sair">
                    <input type="button" id="deleteBTN" value="Apagar conta">
                    <input type="button" id="adminBTN" class="adminBTN" value="Admin">
                </div>
            </section>
        </main>

        <footer>
            <div class="footer__links">
                <a href="index.html">Service</a>
                <a href="index.html">Support</a>
                <a href="index.html">Company</a>
                <a href="index.html">Legal</a>
                <a href="index.html">Join Us</a>
            </div>

            <div class="footer__social">
                <img src="assets/img/instagram.png" alt="Icone instagram">
                <img src="assets/img/facebook.png" alt="Icone facebook">
                <img src="assets/img/twitter.png" alt="Icone twitter">
                <img src="assets/img/whatsapp.png" alt="Icone whatsapp">
                <img src="assets/img/linkedin.png" alt="Icone linkedin">
            </div>

            <div class="footer__logo">
                <img src="assets/img/logo.png" alt="Logo Pizza">
            </div>
        </footer>

        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/script.js"></script>
        <script src="assets/js/account.js"></script>
    </body>
</html>