<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pede - PIZZA</title>
        <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/css/base.css">
        <link rel="stylesheet" href="assets/css/admin.css">
    </head>
    <body>
        <header>
            <nav class="navbar header__navbar">
                <a href="index.html" class="logo"><img src="assets/img/pizza.png" alt="Pizza logo"></a>
                <a href="index.html">Home</a>
                <a href="news.html">News</a>
                <a href="info.html">About us</a>
                <a href="account.html">Account</a>  
            </nav>
            <h1 class="header__title">Manage Pizzas</h1>
        </header>

        <main class="admin__main">
            <div class="admin__addPizza">
                <a href="manage.html" class="">
                    <img src="assets/img/add.png" alt="add pizza">
                </a>
            </div>


            <ul class="admin__list" id="pizzaList"></ul>
        </main>

        <footer>
            <div class="footer__links">
                <a href="index.html">Service</a>
                <a href="index.html">Support</a>
                <a href="index.html">Company</a>
                <a href="index.html">Legal</a>
                <a href="index.html">Join Us</a>
            </div>

            <div class="footer__social">
                <img src="assets/img/instagram.png" alt="Icone instagram">
                <img src="assets/img/facebook.png" alt="Icone facebook">
                <img src="assets/img/twitter.png" alt="Icone twitter">
                <img src="assets/img/whatsapp.png" alt="Icone whatsapp">
                <img src="assets/img/linkedin.png" alt="Icone linkedin">
            </div>

            <div class="footer__logo">
                <img src="assets/img/logo.png" alt="Logo Pizza">
            </div>
        </footer>

        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/script.js"></script>
        <script src="assets/js/admin.js"></script>
    </body>
</html>