.form__button{
  width: 40%;
  max-width: 200px;
  height: 64px;
  padding: 15px 15px;
  color: var(--fc-default);
  font-size: 2rem;
  cursor: pointer;
  border: none;
  transition: var(--default-trasition);
}

.form__button:hover{
  box-shadow: var(--shadowing);
}

.form__button--cancel{
  background-color: var(--color-cancel-btn);
}
.form__button--save{
  background-color: var(--color-confirm-btn);
}