:root{
    --vermelho: rgb(205, 27, 27);
    --branco: #FFF;
    --preto: #000;
    --cor-fundo: rgb(221, 196, 196);
}

body{
    background: var(--cor-fundo);
}

/*
=========================
        Navbar
=========================
*/


.navbar{
    width: 100%;
    background: var(--vermelho);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 64px;
    height: 64px;
}

.navbar a{
    color: var(--branco);
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
}

.navbar a:hover{
    color: rgb(224, 95, 95);
}

.navbar__cart img{
    width: 48px;
    height: 48px;
}


.header__title{
    margin: 60px 0px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}


@media (max-width: 600px){
    .navbar{
        flex-direction: column;
        align-items: center;
    }

    .navbar a{
        margin: 7px 0px;
    }
}


/*
====================
        FOOTER
====================
*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--preto);
    margin-top: 60px;
}

footer div{
    margin: 15px 0px;
}

.footer__links{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer__links a{
    color: #FFF;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0px 5px;
}

.footer__links a:hover{
    text-decoration: underline;
}

.footer__social{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__social img{
    width: 32px;
    height: 32px;
    margin: 0px 25px;
    cursor: pointer;
}

.footer__logo img{
    cursor: pointer;
    width: 235px;
    height: 32px;
}

/*
    Error pop up
*/


.popup__error{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background-color: rgb(194, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.popup__error-close{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.popup__error-message{
    color: #FFF;
    font-size: 1.5em;
}

@media (max-width: 768px){
    .popup__error-message{
        color: #FFF;
        font-size: 1em;
    }
}