.content{
    margin-top: 30px;
    width: 100%;
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    width: 100%;
    max-width: 250px;
    background: rgb(214, 71, 68);
    border-radius: 4.5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 300ms;
    margin: 20px;
    position: relative;
}

.item__header{
    width: 100%;
}

.pizza__img{
    width: 100%;
    height: 190px;
    border-top-left-radius: 4.5px;
    border-top-right-radius: 4.5px;
}

.item__main{
    margin-bottom: 60px;
}

.item__name{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0px;
    text-align: center;
    height: auto;
}

.item hr{
    width: 100%;
    margin-bottom: 0;
    border-color: black;
    size: 10px;
}

.item__footer{
    margin: 0px;
    width: 100%;
    background: rgb(194, 0, 0);
    border-bottom-left-radius: 4.5px;
    border-bottom-right-radius: 4.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    position: absolute;
    bottom: 0;
}

.item__price{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.item:hover{
    box-shadow: 6px 6px 6px #000;
}