html::selection, body::selection, div::selection, span::selection, applet::selection, object::selection, iframe::selection,
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, blockquote::selection, pre::selection,
a::selection, abbr::selection, acronym::selection, address::selection, big::selection, cite::selection, code::selection,
del::selection, dfn::selection, em::selection, img::selection, ins::selection, kbd::selection, q::selection, s::selection, samp::selection,
small::selection, strike::selection, strong::selection, sub::selection, sup::selection, tt::selection, var::selection,
b::selection, u::selection, i::selection, center::selection,
dl::selection, dt::selection, dd::selection, ol::selection, ul::selection, li::selection,
fieldset::selection, form::selection, label::selection, legend::selection,
table::selection, caption::selection, tbody::selection, tfoot::selection, thead::selection, tr::selection, th::selection, td::selection,
article::selection, aside::selection, canvas::selection, details::selection, embed::selection, 
figure::selection, figcaption::selection, footer::selection, header::selection, hgroup::selection, 
menu::selection, nav::selection, output::selection, ruby::selection, section::selection, summary::selection,
time::selection, mark::selection, audio::selection, video::selection, br::selection, input::selection, button::selection {
    color: red;
    background-color: rgb(212, 126, 126);
}

:root{
    --color-black: #000000;
    --color-confirm-btn: #32CD32;
    --color-confirm-btn-hover: #2E8B44;
    --color-hyperlink: #e91e63;
    --color-theme: rgb(209, 20, 20);
    --color-theme-dark: rgb(124, 12, 12);
    --color-white: #ffffff;
    --fc-price: #008000;
    --fc-default: #ffffff;
    --fc-default-dark: #f0f0f0;
    --fs-desktop-title: 3rem;
    --fs-desktop-principal: 1.8rem;
    --fs-desktop-secondary: 1.6rem;
    --fs-desktop-small: 1.4rem;
    --fs-smartphone-title: 2.5rem;
    --fs-smartphone-principal: 1.6rem;
    --fs-smartphone-secondary: 1.4rem;
    --fs-smartphone-small: 1.2rem;
    --fs-tablet-title: 2.8rem;
    --fs-tablet-principal: 1.7rem;
    --fs-tablet-secondary: 1.5rem;
    --fs-tablet-small: 1.3rem;
    --shadowing: 4px 4px 4px rgba(0, 0, 0, 0.61);
    --cor-fundo: rgb(221, 196, 196);
}

body{
    background: var(--cor-fundo);
}