/*
==============================
          RESET CSS
==============================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html::selection, body::selection, div::selection, span::selection, applet::selection, object::selection, iframe::selection,
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, blockquote::selection, pre::selection,
a::selection, abbr::selection, acronym::selection, address::selection, big::selection, cite::selection, code::selection,
del::selection, dfn::selection, em::selection, img::selection, ins::selection, kbd::selection, q::selection, s::selection, samp::selection,
small::selection, strike::selection, strong::selection, sub::selection, sup::selection, tt::selection, var::selection,
b::selection, u::selection, i::selection, center::selection,
dl::selection, dt::selection, dd::selection, ol::selection, ul::selection, li::selection,
fieldset::selection, form::selection, label::selection, legend::selection,
table::selection, caption::selection, tbody::selection, tfoot::selection, thead::selection, tr::selection, th::selection, td::selection,
article::selection, aside::selection, canvas::selection, details::selection, embed::selection, 
figure::selection, figcaption::selection, footer::selection, header::selection, hgroup::selection, 
menu::selection, nav::selection, output::selection, ruby::selection, section::selection, summary::selection,
time::selection, mark::selection, audio::selection, video::selection, br::selection {
    color: red;
    background-color: rgb(212, 126, 126);
}

:root{
    --vermelho: rgb(209, 20, 20);
    --branco: #FFF;
    --preto: #000;
    --cor-fundo: rgb(221, 196, 196);
}

body{
    background: var(--cor-fundo);
}

/*
=========================
        Navbar
=========================
*/

.navbar{
    width: 100%;
    background: var(--vermelho);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a{
    color: var(--branco);
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
}

.navbar a:hover{
    color: rgb(224, 95, 95);
}

.navbar__cart img{
    width: 48px;
    height: 48px;
}


.header__title{
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}


@media (max-width: 600px){
    .navbar{
        flex-direction: column;
        align-items: center;
    }

    .navbar a{
        margin: 7px 0px;
    }
}


/*
====================
        FOOTER
====================
*/

footer{
    display: flex;
    align-items: center;
    background: var(--preto);
    margin-top: 60px;
    height: 48px;
    padding: 15px 15px;
    justify-content: space-between;
}

.footer__social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer__social img{
    margin: 0px 25px;
    cursor: pointer;
}

.footer__logo > img{
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .footer__social img{
        margin: 0px 12px;
    }
}

@media screen and (max-width: 518px) {
    footer{
        flex-direction: column;
        height: auto;
    }

    .footer__social{
        margin-top: 20px;
    }
}

