main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signupForm{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    margin-top: 100px;
    margin-bottom: 20px;
}

.signupForm > section{
    width: 100%;
}

.signupForm__header{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 30px 0px;
}

.signupForm__main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupForm__main > div{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    width: 85%;
    margin: 10px 0px;
}

.signupForm__main > div > input{
    height: 32px;
    margin-top: 5px;
    outline: 3px solid transparent;
    font-size: 1rem;
}

.signupForm__main > div > input:focus{
    box-shadow: none;
    border-color: rgb(255, 0, 0);
}

.signupForm__footer{
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.signupForm__footer > input{
    height: 64px;
    border: none;
    width: 128px;
    color: #FFF;
    font-size: 1.5rem;
    cursor: pointer;
}

#cancelBTN{
    background-color: #ff3333;
}

#saveBTN{
    background-color: #33ff44;
}