.title{
    font-weight: bold;
    text-align: center;
    margin: 60px 0;
}

@media screen and (min-width: 0) {
    .title{
        font-size: var(--fs-smartphone-title);
    }
}

@media screen and (min-width: 768px) {
    .title{
        font-size: var(--fs-tablet-title);
    }
}

@media screen and (min-width: 992px) {
    .title{
        font-size: var(--fs-desktop-title);
    }
}