.product__price--value {
    font-weight: normal;
    color: #17a117;
}

@media screen and (min-width: 0) {
    .product__price, .product__price--value{
        font-size: 1.5rem;
        margin: 15px 0 0 15px;
    }
}

@media screen and (min-width: 769px) {
    .product__price, .product__price--value{
        font-size: 1.75rem;
        margin: 22.5px 0 0;
    }
}

@media screen and (min-width: 992px) {
    .product__price, .product__price--value{
        font-size: 2rem;
        margin-top: 30px;
    }
}