.product__buy-btn{
    background-color: var(--color-confirm-btn);
    border: none;
    border-radius: 3px;
    color: var(--fc-default);
    cursor: pointer;
    height: 64px;
}

.product__buy-btn:hover{
    background-color: var(--color-confirm-btn-hover);
    box-shadow: var(--shadowing);
}

@media screen and (min-width: 0) {
    .product__buy-btn{
        margin: 15px auto 0;
        max-width: 256px;
        width: 95%;
        font-size: var(--fs-smartphone-small);
    }
}

@media screen and (min-width: 448px) {
    .product__buy-btn{
        margin: 15px 0 0 15px;
    }
}

@media screen and (min-width: 769px) {
    .product__buy-btn{
        margin: 22.5px 0 0;
        max-width: none;
        width: auto;
        font-size: var(--fs-tablet-small);
    }
}

@media screen and (min-width: 992px) {
    .product__buy-btn{
        margin-top: 30px;
        font-size: var(--fs-desktop-small);
    }
}