.product__ingredients{
    font-weight: bold;
}

.product__ingredients--value{
    font-weight: normal;
}

@media screen and (min-width: 0) {
    .product__ingredients{
        font-size: var(--fs-smartphone-principal);
        margin: 15px 0 0 15px;
    }

    .product__ingredients--value{
        font-size: var(--fs-smartphone-small);
    }
}

@media screen and (min-width: 769px) {
    .product__ingredients{
        font-size: var(--fs-tablet-principal);
        margin: 22.5px 0 0;
    }

    .product__ingredients--value{
        font-size: var(--fs-smartphone-small);
    }
}

@media screen and (min-width: 992px) {
    .product__ingredients{
        font-size: var(--fs-desktop-principal);
        margin-top: 30px;
    }

    .product__ingredients--value{
        font-size: var(--fs-smartphone-small);
    }
}