.product__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
}

@media screen and (max-width: 768px) {
    .product__info{
        margin-left: 0px;
    }
}