.product__flavor{
    font-weight: bold;
}

.product__flavor--value{
    font-weight: normal;
}

@media screen and (min-width: 0) {
    .product__flavor, .product__flavor--value{
        font-size: var(--fs-smartphone-principal);
    }

    .product__flavor{
        margin: 15px 0 0 15px;
    }
}

@media screen and (min-width: 769px) {
    .product__flavor, .product__flavor--value{
        font-size: var(--fs-tablet-principal);
    }

    .product__flavor{
        margin: 22.5px 0 0;
    }
}

@media screen and (min-width: 992px) {
    .product__flavor, .product__flavor--value{
        font-size: var(--fs-desktop-principal);
        margin-top: 30px;
    }

    .product__flavor{
        margin-top: 30px;
    }
}