.form__input{
  display: flex;
  min-width: 328.921px;
  width: 75%;
  height: 41.392px;
  padding: 11.087px 0px 11.087px 30.478px;
  align-items: center;
  flex-shrink: 0;

  border-radius: 5.913px;
  border: 1.478px solid rgba(11, 70, 84, 0.25);
  margin-top: 18px;
}