.form__cancel{
    background-color: #ff3333;
    height: 64px;
    border: none;
    width: 146px;
    color: #FFF;
    font-size: 1.5rem;
    cursor: pointer;
}

.form__cancel:hover{
    background-color: #b82727;
}
