footer{
    align-items: center;
    background: var(--preto);
    display: flex;
    height: 48px;
    justify-content: space-between;
    padding: 15px 30px;
}

.footer__logo > img{
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    footer{
        flex-direction: column;
        height: auto;
        padding: 30px 0px;
    }
}