.footer__media{
    cursor: pointer;
    margin: 0px 25px;
}

.footer__media:first-child{
    margin-left: 0;
}

.footer__media:last-child{
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .footer__media{
        margin: 0px 16px;
    }
}